* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  margin: 0px;
  font-family: sans-serif;
  font-size: 14px;
  color: #777;
  padding: 1em;
}

h2 {
  color: rgb(0, 149, 224);
  font-weight: bold;
  font-size: 16px;
}

fieldset {
  border: solid 1px rgb(201, 201, 201);
  display: flex;
  flex-direction: column;
}

fieldset div {
  display: flex;
  align-items: center;
  margin: 0 0 1em 0;
}

label {
  order: 1;
  width: 10em;
  text-align: right;
  padding-right: 0.5em;
  white-space: nowrap;
  user-select: none;
  cursor: pointer;
}

input,
select {
  order: 2;
  flex: 1 1 auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  height: 16px;
  display: flex;
  padding: 0 6px 0 13px;
  height: 28px;
  margin-right: 10px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background: #f2f3f5;
  border-radius: 5px;
  margin: 0 0 0.5em 0;
}

.histo {
  flex: 1;
  display: inline-block;
  padding-right: 10px;
  white-space: nowrap;
}

#histo-panel-content {
  margin-bottom: 2em;
}

.note {
  margin-top: 1em;
}

.delBtn {
  display: block;
  height: 16px;
  width: 16px;
  cursor: pointer;
  background-size: 8px 8px;
  background-image: url("data:image/svg+xml;charset=utf-8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3C!--%20Generator%3A%20Adobe%20Illustrator%2018.1.1%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200)%20%20--%3E%0A%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0A%09%20width%3D%22255px%22%20height%3D%22255px%22%20viewBox%3D%22118%20-117%20255%20255%22%20enable-background%3D%22new%20118%20-117%20255%20255%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cg%3E%0A%09%3Cg%3E%0A%09%09%3Cpath%20fill%3D%22%23ffffff%22%20d%3D%22M275.1%2C10.5l92.4%2C92.4c7.4%2C7.4%2C7.4%2C22.2%2C0%2C29.5c-7.4%2C7.4-22.2%2C7.4-29.5%2C0L245.6%2C40l-92.4%2C92.4%0A%09%09%09c-7.4%2C7.4-22.1%2C7.4-29.5%2C0c-7.4-7.4-7.4-22.1%2C0-29.5L216%2C10.5l-92.4-92.4c-7.4-7.4-7.4-22.1%2C0-29.5s22.2-7.4%2C29.5%2C0L245.5-19%0A%09%09%09l92.4-92.4c7.4-7.4%2C22.2-7.4%2C29.5%2C0c7.4%2C7.4%2C7.4%2C22.2%2C0%2C29.5L275.1%2C10.5z%22%2F%3E%0A%09%3C%2Fg%3E%0A%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A");
  background-color: rgb(0, 149, 224);
  color: rgb(232, 232, 232);
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: 50% center;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.5);
  color: rgb(0, 149, 224);
}
